body{

background:#F5F1F0;

font-family:Arial, sans-serif;

padding:40px;

color:#2A4033;

}


.container{

max-width:950px;

margin:auto;

}


h1{

text-align:center;

color:#2A4033;

}


.subtitle{

text-align:center;

}



.section,
#helpContent{

background:white;

padding:25px;

margin:20px 0;

border-radius:15px;

}



button{

background:#2A4033;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}



button:hover{

background:#52796F;

}



input,
select{

width:100%;

padding:12px;

margin:10px 0;

border-radius:8px;

border:1px solid #ccc;

}



.checkbox-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}



textarea{

width:100%;

height:300px;

background:#1E1E1E;

color:#D8F3DC;

font-family:monospace;

padding:15px;

}


pre{

background:#1E1E1E;

color:#D8F3DC;

padding:15px;

}
