body {

    background: #F5F1F0;

    font-family: Arial, Helvetica, sans-serif;

    color: #2A4033;

    padding: 40px;

}



.container {

    max-width: 950px;

    margin: auto;

}






h1 {

    text-align: center;

    font-size: 36px;

    margin-bottom: 5px;

}



.subtitle {

    text-align: center;

    color: #52796F;

    margin-bottom: 30px;

}






.section,
#aboutContent {


    background: white;

    padding: 25px;

    margin: 20px 0;

    border-radius: 14px;

    box-shadow: 
    0 2px 8px rgba(0,0,0,0.08);


}






#aboutContent {

    display:none;

}






h2 {

    color:#2A4033;

    margin-top:0;

}



h3 {

    color:#52796F;

}









button {


    background:#2A4033;

    color:white;

    border:none;

    padding:12px 22px;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

    margin:5px;

    transition:0.2s;


}






button:hover {


    background:#52796F;


}








input,
select {


    width:100%;

    box-sizing:border-box;

    padding:12px;

    margin-top:8px;

    margin-bottom:15px;

    border-radius:8px;

    border:1px solid #B8B8B8;

    font-size:15px;


}








label {


    display:block;

    font-weight:bold;

    margin-top:12px;


}








/* RADIO BUTTONS */


.radio-options {


    display:flex;

    flex-direction:column;

    gap:12px;


}





.radio-options label {


    background:#F5F1F0;

    padding:12px;

    border-radius:8px;

    font-weight:normal;

    cursor:pointer;


}





.radio-options input {


    width:auto;

    margin-right:10px;


}









/* CHECKBOX GRID */


.checkbox-grid {


    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:12px;


}






.checkbox-grid label {


    background:#F5F1F0;

    padding:12px;

    border-radius:8px;

    font-weight:normal;


}





.checkbox-grid input {


    width:auto;

    margin-right:8px;


}








textarea {


    width:100%;

    height:340px;

    box-sizing:border-box;

    margin-top:15px;

    padding:15px;

    border-radius:10px;

    border:none;

    resize:vertical;


    background:#1E1E1E;

    color:#D8F3DC;


    font-family:
    Consolas,
    "Courier New",
    monospace;


    font-size:14px;


}









pre {


    background:#1E1E1E;

    color:#D8F3DC;

    padding:15px;

    border-radius:10px;

    overflow-x:auto;

    font-family:
    Consolas,
    monospace;


}









/* MOBILE SUPPORT */


@media(max-width:700px){



body {

    padding:20px;

}



.checkbox-grid {


    grid-template-columns:1fr;


}



}
